<a href="https://colab.research.google.com/github/hsym-uec/myWeb_github/blob/main/Simmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# SoftBank Stock data from Stooq.com 
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-01'
end = '2023-04-18'
df = data.DataReader('9984.JP', 'stooq', start, end)

In [5]:
df

                              Open     High      Low    Close        Volume
Date
1999-04-06 00:00:00+09:00  12594.0  12594.0  12198.8  12400.8  3.514956e+05
1999-04-07 00:00:00+09:00  12383.2  12541.4  12295.4  12541.4  3.653875e+05
1999-04-08 00:00:00+09:00  12515.0  12620.4  12409.6  12620.4  5.746686e+05
1999-04-09 00:00:00+09:00  12971.8  12971.8  12646.8  12778.5  9.096512e+05
1999-04-12 00:00:00+09:00  12602.8  12725.9  12251.6  12295.4  4.404221e+05
...                            ...      ...      ...      ...           ...
2023-04-19 00:00:00+09:00   5140.0   5140.0   5070.0   5130.0  1.151500e+06
2023-04-20 00:00:00+09:00   5120.0   5150.0   5100.0   5130.0  1.061500e+06
2023-04-21 00:00:00+09:00   5090.0   5130.0   5070.0   5100.0  9.317000e+05
2023-04-24 00:00:00+09:00   5120.0   5140.0   5080.0   5100.0  7.540000e+05
2023-04-25 00:00:00+09:00   5110.0   5140.0   5100.0   5110.0  8.120000e+05

[5894 rows x 5 columns]

In [4]:
import pandas as pd

def get_price(code):
    df = pd.read_csv(f'https://stooq.com/q/d/l/?s={code}&i=d',index_col=0)
    df.index = pd.to_datetime(df.index).tz_localize('Asia/Tokyo')
    return df

df = get_price('6701.jp')

In [35]:
### update balance

import mysql.connector
import datetime

def insert_balance(balance):

    cnx = None
    dt_now = datetime.datetime.now()

    try:
        cnx = mysql.connector.connect(
            user='root',  # ユーザー名
            password='',  # パスワード
            host='localhost',  # ホスト名(IPアドレス）
            database='stock_test'  # データベース名
        )

        cursor = cnx.cursor()

        sql = ('''
        INSERT INTO wallent02 
            (balance, datetime)
        VALUES 
            (%s, %s)
        ''')

        data = [
            (balance, dt_now)
        ]

        cursor.executemany(sql, data)
        cnx.commit()

        print(f"{cursor.rowcount} records inserted.")

        cursor.close()

    except Exception as e:
        print(f"Error Occurred: {e}")

    finally:
        if cnx is not None and cnx.is_connected():
            cnx.close()


insert_balance(-1000)

1 records inserted.

In [14]:
!pip3 install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp39-cp39-macosx_12_0_arm64.whl (8.4 MB)
     |████████████████████████████████| 8.4 MB 1.3 MB/s eta 0:00:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-py2.py3-none-any.whl (162 kB)
     |████████████████████████████████| 162 kB 1.2 MB/s eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3
WARNING: You are using pip version 21.2.4; however, version 23.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [36]:
### get latest balance

import mysql.connector

def get_balance():

    cnx = None
    current_balance = 0

    try:
        cnx = mysql.connector.connect(
            user='root',  # ユーザー名
            password='',  # パスワード
            host='localhost',  # ホスト名(IPアドレス）
            database='stock_test'  # データベース名
        )

        cursor = cnx.cursor()

        sql = ('''
        SELECT balance
        FROM wallent02
        ''')

        cursor.execute(sql)
        #cnx.commit()

        print(f"Last balance gotten.")

        for row in cursor.fetchall():
          current_balance += row[0]

        cursor.close()

    except Exception as e:
        print(f"Error Occurred: {e}")

    finally:
        if cnx is not None and cnx.is_connected():
            cnx.close()
        return current_balance


get_balance()

Last balance gotten.

60400.0